body{
    background-color: #E1EFF6;
}

/* .homewStyle {
    background-color: salmon;
    display: flex;
    margin: 0 auto;
    width: 60vw;
    margin-bottom: 10%;
    margin-top: 1%;
} */

/* .projectStyle {
    display: flex;
    margin: 0 auto;
    width: 65%;
    margin-top: 1%;
} */